1. sudo apt install -y rsyslog
2. vi /etc/rsyslog.conf -> file default config
    1. bat cac cau hinh len:
    # Collect log with UDP
        $ModLoad imudp
        $UDPServerAddress 159.65.131.174
        $UDPServerRun 514

        # Creating separate log files based on the severity
        local0.* /var/log/haproxy-traffic.log
        local0.notice /var/log/haproxy-admin.log

        local1.* /var/log/haproxy-traffic-local1.log
        local1.notice /var/log/haproxy-admin-local1.log
3. service rsyslog restart
4. config  haproxy
    log 159.65.131.174:514 local0 info
    ở frontend mình có thể tạo nhiều local1, local2 nha
5 xem log bang tail: tail -f 100 haproxy.lo
- xem log dang table cmd:
    halog -srv -H < haproxy.log | column -t
    halog -ut -H < haproxy.log | column -t 

--------------------------------------------------------------------------------
    # Collect log with UDP
$ModLoad imudp
$UDPServerAddress 159.65.131.174
$UDPServerRun 514

# Creating separate log files based on the severity
local0.* /var/log/haproxy-traffic.log
local0.notice /var/log/haproxy-admin.log

local1.* /var/log/haproxy-traffic-local1.log
local1.notice /var/log/haproxy-admin-local1.log