global
        log /dev/log local0
        log /dev/log local1 notice
        chroot /var/lib/haproxy
        stats socket /run/haproxy/admin.sock mode 660 level admin
        stats timeout 30s
        daemon
defaults
        log global
        mode http
        option httplog
        option dontlognull
        timeout connect 5s
        timeout client 25s
        timeout server 3600s
        timeout tunnel 3600s
        timeout http-keep-alive  1s
        timeout http-request    15s
        timeout queue           30s
        default-server inter 1s rise 2 fall 1 on-marked-down shutdown-sessions # server down is disconnect with all
        option forwardfor

listen stats
    bind *:9999
    option forwardfor
    stats enable
    stats refresh 10s
    stats uri /stats
    stats auth minhnhat.dev:minhnhat.dev
    stats show-legends
    stats admin if TRUE

frontend https
        log /dev/log local0
        bind *:80
        maxconn 60000
        # bind *:443 ssl crt /etc/ssl/minhnhat/minhnhat-letsencrypt.pem alpn h2,http/1.1
        # redirect scheme https if !{ ssl_fc }
        timeout client 60s

        default_backend web_servers

backend web_servers
        balance roundrobin
        option httpchk HEAD /ping
        http-check expect status 200
        cookie serverid insert
        server web_servers_1 node-server-1:3000  check cookie web_servers_1 
        server web_servers_2 node-server-2:3000  check cookie web_servers_2
        server web_servers_3 node-server-3:3000  check cookie web_servers_3